* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #bdc3c7;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding: 0 1rem;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .scoreboard {
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
    background: #3498db;
    padding: 10px 10px;
    margin-bottom: 10px;
  }

  .options {
    .gameOption {
      display: inline-block;
      box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
      background: #e74c3c;
      padding: 10px 10px;
      margin: 10px;
    }
  }
}

.card-field {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
}

.card-container {
  display: flex;
  height: 20vh;
  width: 20vh;
  position: relative;
  perspective: 500px;
  border-radius: 10px;
  margin: 20px;
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
	transition: all .8s ease;
	transform-style: preserve-3d;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);

  .card-front {
    height: 100%;
    width: 100%;
    background: white;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;

    img {
      height: 90%;
      width: 90%;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      backface-visibility: hidden;
    }
  }

  .card-back {
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #ecf0f1, #242527);
		transform: rotateY(180deg);
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
  }
}

.card-flipped {
  transform: rotateY(180deg);
}

.card-hidden {
  display: none;
}

.nav {
  text-align:center;
  margin-bottom: 20px;

  h1 {
    margin: auto;
  }

  .nav-div {
    display: inline-block;
    padding: 10px 10px;
    margin: 0px 10px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
    background: #2ecc71;
    cursor: pointer;
  }
}

