/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #bdc3c7;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.app {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login {
  text-align: center;
  width: 15em;
  background: #f1c40f;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
          box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;

  input {
    margin-bottom: 10px;
  }

  p {
    color: red;
  }
}

.register {
  text-align: center;
  width: 15em;
  background: #f1c40f;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
          box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;

  input {
    margin-bottom: 10px;
  }

  p {
    color: red;
  }
}

.container {
  padding: 0 1rem;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  .scoreboard {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
    background: #3498db;
    padding: 10px 10px;
    margin-bottom: 10px;
  }

  .options {
    .gameOption {
      cursor: pointer;
      display: inline-block;
      -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
              box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
      background: #e74c3c;
      padding: 10px 10px;
      margin: 10px;
    }

    .deleteAcct {
      cursor: pointer;
      display: inline-block;
      -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
              box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
      background: #2c3e50;
      color: #c0392b;
      padding: 10px 10px;
      margin: 10px;
    }
  }
}

.card-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 85vw;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20vh;
  width: 20vh;
  position: relative;
  -webkit-perspective: 500px;
          perspective: 500px;
  border-radius: 10px;
  margin: 10px;
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
  border: 2px solid black;
  border-radius: 10px;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
          box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);

  .card-front {
    height: 100%;
    width: 100%;
    background: white;
    position: absolute;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;

    img {
      height: 90%;
      width: 90%;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
    }
  }

  .card-back {
    height: 100%;
    width: 100%;
    background: -o-linear-gradient(45deg, #ecf0f1, #242527);
    background: linear-gradient(45deg, #ecf0f1, #242527);
		-webkit-transform: rotateY(180deg);
		        transform: rotateY(180deg);
    position: absolute;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
  }
}

.card-flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-hidden {
  opacity: 0;
}

.nav {
  text-align:center;
  margin-bottom: 10px;

  .title {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
    background: #9b59b6;
    padding: 10px 10px;
    width: 90vw;
    margin: 10px 10px;
  
    h1 {
      margin: auto;
    }
  }

  .nav-div {
    width: 10em;
    display: inline-block;
    padding: 10px 10px;
    margin: 0px 10px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
    background: #2ecc71;
    cursor: pointer;
  }
}

